@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
#root {
  text-align: center;
}
body {
  background-image: url("../public/Background.jpg");
  font-family: "Sue Ellen Francisco";
  font-weight: 500;
  font-size: 20px;
}
